* {
    background-color: antiquewhite;
}

h2 .first-class {
    color: blue;
}

.second p {
    text-align: center;
    padding: 0px;
    margin-left: 27px;
    color: black display: inline block 30px;
    border: 10px solid steelblue
}

#max {
    color: firebrick
}

.main>ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border-radius: 30em;
    width: 100px;
    padding: 20px;
    color: lightcoral;
    margin-left: 40%
}

.main>h3 {
    color: darkgreen;
}

h1,
h2 {
    color: steelblue;
}

div,
.note {
    border-width: 10px 20px 30px;
    background-color: #FF9800;
    padding: 20px;
    border: 10px solid whitesmoke
}

@media(min-width:319x) {
    body {
        background-color: #FF9800;
    }
}

@media(max-width:601) {
    body {
        background-color: aqua;
    }
}

@media(min-width:480px) {
    body {
        background-color: blueviolet;
    }
}