img {
    width: 80px;
    border: 30px solid#b58863;
    padding: 50px;
}

#main {
    margin-left: 200px;
}

@media(max-width:680px) {
    h1 {
        font-size: 100.5%;
        color: ;
    }

    div {
        display: block;
    }

    img {
        width: 25px;
        border: 10px solid #b58863;
        padding: 20px;
        border-width: 10px 20px;
    }

    #main {
        margin-left: 100px;
    }

    h1 {
        font-size: 100.5%;
        color: #b58863;
    }

}